.about-me-title h2 {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 90px;
}

.about-details-container {
    display: flex;
    .about-text p {
        margin-bottom: 25px;
        line-height: 1.15;
        text-align: left;
    }
        .about-img img{
            border-radius: 30px;
            width: 75%;
            margin-left: 140px;
        }
            ul {
                display: flex;
                li {
                    margin-right: 30px;
                }
            }

}

div.chevron-about {
    margin-bottom: 100px;
}

//Media queries 
@media (max-width: 1018px) {
    .about-details-container {
        flex-direction: column-reverse;
            .about-img img {
                display: flex;
                justify-content: center;
                margin-left: 0px;
                width: 100%;
            }
                ul {
                    justify-content: center;
                }
    }
}

@media (max-width: 579px) {
    .about-text {
        margin-top: 25px;
            p {
                font-size: 1.8rem;
            }
    }
}