#about {
    height: 90vh;
}

.about-me-title h2 {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 90px;
}

.about-details-container {
    display: flex;
    .about-text p {
        margin-bottom: 25px;
        line-height: 1.15;
        text-align: left;
    }
        .about-img img{
            border-radius: 30px;
            // padding:0px 50px;
            width: 75%;
            margin-left: 140px;
        }
            ul {
                display: flex;
                // justify-content: center;
                li {
                    margin-right: 30px;
                }
            }

}