.contact-title {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 90px;
}

.contact-container {
    display: flex;
    text-align: center;
    .form-text {
        width: 50%;
        margin-right: 20px;
    }
        .form-text p {
            margin-bottom: 22px;
        }
        .form-box {
            width: 50%;
        }
            form {
                display: flex;
                flex-direction: column;
            }
}

.direct-email {
    color: $accentColorOneDarkMode;
}

.resume {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid $primaryFontColorDarkMode;
    border-radius: 15px;
}

form input,
form textarea {
    border: 2px solid $universalAccent;
    border-radius: 10px;
    margin-bottom: 8px;
    padding: 10px 10px;
}


.submit {
    background-color: $primaryFontColorDarkMode;
    margin-top: 10px;
    width: 125px;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    align-self: center;
    text-align: center;
    margin-bottom: 70px;
    transition: all 0.2s ease-in-out;
}

//Media Queries
@media (max-width: 638px) {
    .contact-container {
        flex-direction: column;
            .form-text {
                width: 100%;
                    p {
                        font-size: 2rem;
                    }
            }
                .form-box {
                    width: 100%;
                }
    }
}