.about-social-footer {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 60px;
}

.credits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        a {
            margin: 25px 0;
        }
            p {
                margin-bottom: 10px;
                animation: pulse;
                animation-duration: 2s;
            }
}

@media (max-width: 491px) {
    .credits p {
        font-size: 1.6rem;
    }
}