* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

h1 {
    color: $primaryFontColorDarkMode;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

body {
    font-size: 1.6rem;
}

li {
    list-style: none;
}

.wrapper {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
}

body {
    background-color: $primaryBackgroundColorDarkMode;
    color: $primaryFontColorDarkMode;
        & a:hover {
            color: $universalAccent;
        }
}

//Global Period
.period {
    color: $accentColorOneDarkMode;
}

//All Hover/Focus States

.section-title:hover,
.section-title:focus,
.read-class:hover,
.read-class:focus {
    color: $universalAccent;
    transform: scale(1.2);
}

.fa-chevron-down:hover,
.fa-chevron-down:focus {
    transform: scale(1.4);
    color: $accentColorOneDarkMode;
}

.fa-bars:hover,
.fa-bars:focus,
.about-social li:hover,
.about-social-footer li:hover {
    transform: scale(1.4);
    color: $primaryFontColorDarkMode;
}

nav li:hover,
.skills-grid li:hover,
.skills-grid li:focus {
    transform: scale(1.4);
}

.submit:hover,
.submit:focus {
    background-color: $accentColorOneDarkMode;
    box-shadow: 1px 1px $universalAccent, 2px 2px $universalAccent, 3px 3px $universalAccent;
    transform: translateX(-3px);
}



