* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

body {
    font-size: 1.6rem;
}

li {
    list-style: none;
}

.wrapper {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
}

// Light / Dark Mode Toggle
body {
    background-color: $primaryBackgroundColorDarkMode;
    color: $primaryFontColorDarkMode;
        a {
            color: $accentColorOneDarkMode;
        }
        & a:hover {
            text-decoration: 3px underline $universalAccent;
            color: $universalAccent;
        }
}

.light-mode-test {
    background-color: $primaryBackgroundColorLightMode;
    color: $secondaryFontColorLightMode;
        & a {
            color: $accentColorOneLightMode;
        }
        & a:hover {
            color: $universalAccent;
            text-decoration: 3px underline $universalAccent;
        }
}



