//Nav Styles
header {
    height: 100vh;;
}

.header-flex {
    display: flex;
    flex-direction: column;
}

nav {
    height: 15vh;
    .nav-flex {
        display: flex;
        justify-content: space-evenly;
        padding-top: 50px;
    }
}

.mobile-menu {
    display: none;
        a {
            font-size: 2rem;
        }
}

.who {
    margin-top: 170px;
    .title-name {
        display: flex;
        justify-content: center;
    }
    h2 {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
}

.switch-parent {
    margin-top: 250px;
        .light-input {
            opacity: 0;
        }
            .toggle-label {
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
}

.switch-parent,
.light-input,
.switch {
    position: absolute;
    background-color:darkslategray;
    padding: 30px 10px;
    border-radius: 20px;
}


.fa-moon {
    color: #E0AAff;
    // margin-bottom: 45px;
}

.fa-lightbulb {
    color: orangered;
    margin-bottom: 30px;
}

.switch {
    background-color: $primaryFontColorDarkMode;
    height: 20px;
    padding: 19px 19px;
    transition: transform 0.3s linear;
}



header input:checked + .toggle-label .switch {
    transform: translateY(53px);
}


.down-chevron {
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

// Media Queries
@media (max-width: 968px) {
    //Hamburger Menu
    nav {
        display: none;
    }

    .mobile-menu {
        display: block;
        z-index: 2;
            .fa-bars {
                margin-top: 5px;
                margin-left: 9px;
            }
            #hamb-ul-id {
                position: absolute;
                left: 40px;
                top: 0;
                transition: transform 1s linear;
                transform: translateX(58px);
            }
    }

    //Move up toggle
    .switch-parent {
        margin-top: 20px;
        margin-left: 0;
    }
}

@media (max-width: 650px) {
    .title-name {
        font-size: 4rem;
    }

    .who h2 {
        font-size: 3.2rem;
    }
}



@media (max-width: 489px) {
    .switch-parent {
        margin: 0;
        position: absolute;
        top: 0;
        right: 5px;
    }

    .fa-bars {
        font-size: 5rem;
    }

    .title-name {
        font-size: 2.6rem;
    }

    .who h2 {
        font-size: 1.8rem;
    }
}