//Nav Styles
header {
    height: 100vh;;
}

.header-flex {
    display: flex;
    flex-direction: column;
}

nav {
    height: 15vh;
    .nav-flex {
        display: flex;
        justify-content: space-evenly;
        padding-top: 50px;
    }
        li {
            transition: all 0.4s ease-in-out;
        }
}

.mobile-menu {
    display: none;
        a {
            font-size: 2rem;
        }
}

.who {
    margin-top: 170px;
    .title-name {
        display: flex;
        justify-content: center;
    }
    h2 {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
}

.switch-parent {
    margin-top: 250px;
        .light-input {
            opacity: 0;
        }
            .toggle-label {
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
}

.switch-parent,
.light-input,
.switch {
    position: absolute;
    background-color:darkslategray;
    padding: 30px 10px;
    border-radius: 20px;
}


.fa-moon {
    color: #E0AAff;
    // margin-bottom: 45px;
}

.fa-lightbulb {
    color: orangered;
    margin-bottom: 30px;
}

.switch {
    background-color: $primaryFontColorDarkMode;
    height: 20px;
    padding: 19px 19px;
    transition: transform 0.3s linear;
}



header input:checked + .toggle-label .switch {
    transform: translateY(53px);
}

//CSS Fire Animation Courtesy of: https://codepen.io/z00f9eb5633/pen/JXVpgp
    .fire {
        position: relative;
        top:100%;
        left:50%;
        transform:translate(-50%,-25%);
        height:5vw;
        width:5vw;
        //background-color:$red;
        .flames {
            position: absolute;
            bottom:40%;
            left:50%;
            width:60%;
            height:60%;
            //background-color:$red;
            transform:translateX(-50%)rotate(45deg);
            .flame {
                position: absolute;
                right:0%;
                bottom:0%;
                width:0%;
                height:0%;
                background-color:$yellow;
                border-radius:1vw;
                &:nth-child(2n + 1) {
                animation: flameodd $animationtime ease-in infinite;
                }
                &:nth-child(2n) {
                animation: flameeven $animationtime ease-in infinite;
                }
                &:nth-child(1) {
                animation-delay:0s;
                }
                &:nth-child(2) {
                animation-delay:$animationtime/4;
                }
                &:nth-child(3) {
                animation-delay:$animationtime/4 * 2;
                }
                &:nth-child(4) {
                animation-delay:$animationtime/4 * 3;
                }
            }
        }
        .logs {
            position: absolute;
            bottom:25%;
            left:50%;
            transform:translateX(-50%);
            width:100%;
            height:15%;
            &:before, &:after {
                position: absolute;
                content: '';
                top:50%;
                left:50%;
                transform:translate(-50%,-50%) rotate(20deg);
                height:100%;
                width:100%;
                border-radius:1vw;
                background-color:$brownl;
            }
            &:before {
                transform:translate(-50%,-50%) rotate(-20deg);
                background-color:$brownd;
            }
        }
    }


    @keyframes flameodd {
    0%, 100% {
        width:0%;
        height:0%;
    }
    25% {
        width:100%;
        height:100%;
    }
    0% {
        background-color:$yellow;
        z-index:1000000;
    }
    40% {
        background-color:$orange;
        z-index:1000000;
    }
    100% {
        background-color:$red;
        z-index:-10;
    }
    0% {
        right:0%;
        bottom:0%;
    }
    25% {
        right:1%;
        bottom:2%;
    }
    100% {
        right:150%;
        bottom:170%;
    }
    }

    @keyframes flameeven {
    0%, 100% {
        width:0%;
        height:0%;
    }
    25% {
        width:100%;
        height:100%;
    }
    0% {
        background-color:$yellow;
        z-index:1000000;
    }
    40% {
        background-color:$orange;
        z-index:1000000;
    }
    100% {
        background-color:$red;
        z-index:-10;
    }
    0% {
        right:0%;
        bottom:0%;
    }
    25% {
        right:2%;
        bottom:1%;
    }
    100% {
        right:170%;
        bottom:150%;
    }
    }


.down-chevron {
    display: flex;
    justify-content: center;
    margin-top: 140px;
    margin-bottom: 100px;
    transition: all 0.4s ease-in-out;
}

// Media Queries
@media (max-width: 968px) {
    //Hamburger Menu
    nav {
        display: none;
    }

    .mobile-menu {
        display: block;
        z-index: 2;
            .fa-bars {
                margin-top: 5px;
                margin-left: 9px;
            }
            #hamb-ul-id {
                position: absolute;
                left: 40px;
                top: 0;
                transition: transform 1s linear;
                transform: translateX(58px);
            }
    }

    //Move up toggle
    .switch-parent {
        margin-top: 20px;
        margin-left: 0;
    }
}

@media (max-width: 650px) {
    .title-name {
        font-size: 4rem;
    }

    .who h2 {
        font-size: 3.2rem;
    }
}



@media (max-width: 489px) {
    .switch-parent {
        margin: 0;
        position: absolute;
        top: 0;
        right: 5px;
    }

    .fa-bars {
        font-size: 5rem;
        transition: all 0.4s ease-in-out;
    }

    .title-name {
        font-size: 2.6rem;
    }

    .who h2 {
        font-size: 1.8rem;
    }
}
