.projects-title {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
        h2 {
            margin-bottom: 15px;
            font-size: 5rem;
        }
            p {
                margin-bottom: 115px;
                font-size: 2rem;
            }
}

.project-one-img img,
.project-two-img img,
.project-three-img img {
    border: 3px solid $universalAccent;
    border-radius: 15px;
    margin-top: 50px;
}

.project-one-text,
.project-two-text,
.project-three-text {
    margin: 0 30px 60px 30px;
}


.info-below {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}

.read-one,
.read-two,
.read-three {
    opacity: 0;
}

//Media Queries
@media (max-width: 608px) {
    .projects-title p {
        font-size: 1.6rem;
    }

    .project-one-text p,
    .project-two-text p,
    .project-three-text p {
        font-size: 1.8rem;
    }

}

@media (max-width: 493px) {
    .projects-title p {
        font-size: 1.2rem;
    }

    .project-one-text p,
    .project-two-text p,
    .project-three-text p {
        font-size: 1.2rem;
    }
}







