.skills-title {
    margin: 100px 0 100px 0;
    text-align: center;
}

.skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 110px;
    text-align: center;
        li {
            margin-bottom: 55px;
        }
            i {
                padding-bottom: 8px;
            }
}


//Media Queries
@media (max-width: 627px) {
    .skills-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 426px) {
    .skills-grid {
        grid-template-columns: 1fr;
    }
}