
.skills-title {
    margin: 100px 0;
    text-align: center;
}

.skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 110px;
    text-align: center;
        li {
            margin-bottom: 55px;
        }
            i {
                padding-bottom: 8px;
            }
}