//Accent/Hover Colors
$universalAccent: grey;

// Dark Mode Color Pallette
$primaryBackgroundColorDarkMode: black;
$primaryFontColorDarkMode: #f8f9fa;
$accentColorOneDarkMode: #dd0000;
// $accentColorOneDarkMode: #dbcdf0;
// $accentColorTwoDarkMode: #E0AAff;



//Light Mode Color Pallette
$primaryBackgroundColorLightMode: #f8f9fa;
$secondaryFontColorLightMode: black;
$accentColorOneLightMode: #4f0c7c;
// // or #E0AAff (vibrant purple)
// $accentColorTwoLightMode: #c6def1;


//Fonts
$rale: 'Raleway', sans-serif;

//Mixin for Font Specifications
@mixin fontSpecs( $size, $weight) {
    font-size: $size;
    font-weight: $weight;
};

