html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  font-size: 1.6rem;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

body {
  background-color: black;
  color: #f8f9fa;
}

body a {
  color: #dd0000;
}

body a:hover {
  color: grey;
}

.light-mode-test {
  background-color: #f8f9fa;
  color: black;
}

.light-mode-test a {
  color: #4f0c7c;
}

.light-mode-test a:hover {
  -webkit-text-decoration: 3px underline grey;
          text-decoration: 3px underline grey;
}

.light-mode-test .period {
  color: #4f0c7c;
}

.light-mode-test .submit:hover,
.light-mode-test .submit:focus {
  background-color: #4f0c7c;
  color: #f8f9fa;
}

.period {
  color: #dd0000;
}

.fa-chevron-down:hover,
.fa-chevron-down:focus,
.section-title:hover,
.section-title:focus,
.read-class:hover,
.read-class:focus,
.fa-bars:hover,
.fa-bars:focus {
  color: grey;
}

.submit:hover,
.submit:focus {
  background-color: #dd0000;
}

body {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 5.2rem;
  font-weight: 700;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
}

p {
  font-size: 2.5rem;
  font-weight: 400;
}

li {
  font-size: 2.8rem;
  font-weight: 400;
}

button {
  font-size: 2.5rem;
  font-weight: 500;
}

.nav-flex li {
  font-size: 2.5rem;
  font-weight: 700;
}

.fa-chevron-down {
  font-size: 4.8rem;
  font-weight: 700;
}

.fa-moon,
.fa-lightbulb {
  font-size: 2.3rem;
  font-weight: 700;
}

.fa-bars {
  font-size: 3rem;
  font-weight: 700;
}

.info-below a,
.info-below label {
  font-size: 2rem;
  font-weight: 700;
}

.about-social-footer li {
  font-size: 3.5em;
  font-weight: 700;
}

header {
  height: 100vh;
}

.header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav {
  height: 15vh;
}

nav .nav-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 50px;
}

.mobile-menu {
  display: none;
}

.who {
  margin-top: 170px;
}

.who .title-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.who h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.switch-light {
  margin-top: 250px;
}

.toggle-light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.switch-light,
.light-check,
.switch {
  position: absolute;
  background-color: darkslategray;
  padding: 30px 10px;
  border-radius: 20px;
}

.toggle-light {
  cursor: pointer;
}

.fa-moon {
  color: #E0AAff;
}

.fa-lightbulb {
  color: orangered;
  margin-bottom: 30px;
}

.switch {
  background-color: #f8f9fa;
  height: 20px;
  padding: 19px 19px;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.light-check {
  opacity: 0;
}

header input:checked + .toggle-light .switch {
  -webkit-transform: translateY(53px);
          transform: translateY(53px);
}

.down-chevron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 90px;
}

@media (max-width: 968px) {
  nav {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
}

.about-me-title h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
  margin-bottom: 90px;
}

.about-details-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-details-container .about-text p {
  margin-bottom: 25px;
  line-height: 1.15;
  text-align: left;
}

.about-details-container .about-img img {
  border-radius: 30px;
  width: 75%;
  margin-left: 140px;
}

.about-details-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-details-container ul li {
  margin-right: 30px;
}

.skills-title {
  margin: 100px 0;
  text-align: center;
}

.skills-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 110px;
  text-align: center;
}

.skills-grid li {
  margin-bottom: 55px;
}

.skills-grid i {
  padding-bottom: 8px;
}

.projects-title {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects-title h2 {
  margin-bottom: 15px;
  font-size: 5rem;
}

.projects-title p {
  margin-bottom: 115px;
  font-size: 2rem;
}

.project-one-img img,
.project-two-img img,
.project-three-img img {
  border: 3px solid grey;
  border-radius: 15px;
  margin-top: 50px;
}

.project-one-text,
.project-two-text,
.project-three-text {
  margin: 0 30px 60px 30px;
}

.info-below {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hidden {
  display: none;
}

.read-one,
.read-two,
.read-three {
  opacity: 0;
}

.contact-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
  margin-bottom: 90px;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-container .form-text {
  width: 50%;
  margin-right: 20px;
}

.contact-container .form-text p {
  margin-bottom: 22px;
}

.contact-container .form-box {
  width: 50%;
}

.contact-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form input,
form textarea {
  border: 2px solid grey;
  border-radius: 10px;
  margin-bottom: 8px;
  padding: 10px 10px;
}

.submit {
  margin-top: 10px;
  width: 125px;
  padding: 10px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  margin-bottom: 70px;
}

.about-social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 60px;
}

.credits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.credits a {
  margin: 25px 0;
}

.credits p {
  margin-bottom: 10px;
}
